# Ignore Terraform state files
terraform.tfstate
terraform.tfstate.backup

# Ignore crash logs
crash.log

# Ignore .terraform directory
.terraform/

# Ignore override files and logs
*.tfstate.*
*.tfvars
*.tfvars.json
*.override.tf
*.override.tf.json

# Ignore sensitive or temporary files
*.bak
*.tmp
*.swp
*.swo
.DS_Store
